body {
    margin: 0;
    font-family: Arial;
}

nav {
    background: #0d6efd;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('https://images.unsplash.com/photo-1492724441997-5dc865305da7') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

.btn {
    background: white;
    color: #0d6efd;
    padding: 10px 20px;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 200px;
    margin: 15px;
    border-radius: 10px;
}

form input, form textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #0d6efd;
    color: white;
    border: none;
}

footer {
    background: #222;
    color: white;
    padding: 20px;
}